echo "╭─────────────────────────────────────────────────────────────╮"
echo "│                                                             │"
echo "│ 🧤Welcome. This repo contains Snowflake quickstart for data │"
echo "│ engineering in Scala.                                       │"
echo "│                                                             │"
echo "╰─────────────────────────────────────────────────────────────╯"


# Uses jc to extract envrc from snowsql config. Rewrite by hand if jc and/or jq is not available

SNOWSQL_EXTRACT=$(cat ~/.snowsql/config | jc --ini | jq '."connections.sfguide-scala"')

export SNOWSQL_ACCOUNT=$(echo $SNOWSQL_EXTRACT | jq -r '.accountname')
export SNOWSQL_USER=$(echo $SNOWSQL_EXTRACT | jq -r '.username')
export SNOWSQL_PWD=$(echo $SNOWSQL_EXTRACT | jq -r '.password')
export SNOWSQL_DATABASE=$(echo $SNOWSQL_EXTRACT | jq -r '.dbname')
export SNOWSQL_SCHEMA=$(echo $SNOWSQL_EXTRACT | jq -r '.schemaname')
export SNOWSQL_WAREHOUSE=$(echo $SNOWSQL_EXTRACT | jq -r '.warehousename')
export SNOWSQL_ROLE=$(echo $SNOWSQL_EXTRACT | jq -r '.rolename')
export PRJ_ROOT=$(git rev-parse --show-toplevel)
export QUICKSTART_RUN_LOCALLY=TRUE

use flake
